<link href="css/about.css" rel="stylesheet" type="text/css" />

<div class = "row">
	<div class = "col-lg-5">
		<img src = "img/cactus.jpeg">
	</div>
	
	<div class = "col-lg-5">
		
		<div class = "row">
			<div class = "col-lg-6 col-centered">
				<h1 class= "aboutHead">About</h1>
				<h4 class = "aboutHead">This website was created by Matt Jolly using the following technologies:</h4>
			</div>
		</div>
		
		
		<div class = "row">
			<div class = "bufferRow"></div>
		</div>
		
		<about-panels></about-panels>
		
	</div>
	
</div>