<link href="css/resume.css" rel="stylesheet" type="text/css" />

<div class = "row">
	<div class = "col-lg-1"></div>
	<div class = "col-lg-10">
	
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Professional Summary</h3>
			</div>
			<div class="panel-body">
				<p>
					Matt Jolly is a Java Developer who is skilled and hardworking, with demonstrated performance.  
					Matt is currently pursuing a graduate degree in computer science from Syracuse University, and is adept at developing, deploying, 
					troubleshooting and maintaining Java applications.  He has achieved a productive level of knowledge in Java 
					frameworks such as Spring and Hibernate, as well as JDBC, SQL, MVC, JSF, JMS, RESTful web services, and related technologies. 
					Matt is also experienced and productive with JavaScript and the jQuery and AngularJS frameworks.  As a true professional he is 
					dedicated to his own continual self-development, enjoys working closely with others, and has an eye for detail and identifying problems. 
					He is quick to assimilate new technologies and quickly becomes a productive member of any team to which he is assigned.    
				</p>
			</div>
		</div>
	
		<div class = "row">
			<div class="col-lg-9">

				<professional-experience></professional-experience>
			
				<education></education>
			
			</div>
			<div class="col-lg-3">						
				<technologies></technologies>
			</div>
		</div>
	
	</div>
	<div class = "col-lg-1"></div>
	
</div>