<!-- Front-end panel -->
<div class = "row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Front-end</h3>
		</div>
		<div class="panel-body">
			<div class = "row">
				<div class = "col-lg-9">
					<ul>
						<li>Javascript</li>
						<li>AngularJS</li>
						<li>Bootstrap</li>
						<li>HTML</li>
						<li>CSS</li>
					</ul>
				</div>
				<div class = "col-lg-3">
					<a href="">View on Github</a>
				</div>
			</div>
			
		</div>
	</div>
</div>

<!-- Back-end panel -->
<div class = "row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Back-end</h3>
		</div>
		<div class="panel-body">
			<div class = "row">
				<div class = "col-lg-9">
					<ul>
						<li>Java/J2EE</li>
						<li>Spring MVC/IOC</li>
						<li>Spring Rest Service Controller</li>
						<li>Hibernate</li>						
						<li>MySQL</li>
					</ul>
				</div>
				<div class = "col-lg-3">
					<a href="https://github.com/mjollyasu/MJBack">View on Github</a>
				</div>
				
			
			</div>
		</div>
	</div>
</div>

<!-- Deployment panel -->
<div class = "row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Deployment</h3>
		</div>
		<div class="panel-body">
			<div class = "row">
				<div class = "col-lg-9">
					<ul>
						<li>AWS Elastic Beanstalk</li>
						<li>AWS S3</li>
						<li>AWS RDBS</li>
					</ul>
				</div>
				<div class = "col-lg-3"></div>
			</div>
		</div>
	</div>
</div>