<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Professional Experience</h3>
	</div>
	<div class="panel-body">
		
		<div class="row">
			<div class = "col-lg-9">
				<h4>Freelance Java Developer</h4>
				<p><strong>Northwest Pizza Company - Store management application</strong></p>						
				<ul>
					<li>Created a Spring MVC web application framework. Designed and implemented modules to manage employee schedules, inventory, finances, and other daily operations. </li>
					<li>Deployed application to Amazon Web Services Elastic Beanstalk, and hosted a MySQL database on Amazon Web Services RDBS.</li>
					<li>Integrated Spring Security, preventing access to secure pages without logging in. Implemented an encrypted hashing function on the password field and implemented the same on the login authentication.</li>
					<li>Autowired the service and DAO layers using the Spring Inversion of Control (IOC) framework for better modularity, looser coupling, and easier maintenance.</li>
					<li>Applied the Hibernate ORM framework for the persistence layer. </li>
					<li>Used JSF, Prime Faces, and CSS to create a dynamic and rich user interface for improved user experience.</li>
				</ul>						
				
				<p><strong>Nanny Exchange - Online registration form</strong></p>						
				<ul>
					<li>Created a new feature on an existing website create online registration forms using the Spring MVC  web application framework, AngularJS, and Hibernate.</li>
					<li>Designed and implemented a registration module, a login module, a sign-up form for new clients, and a sign-up form for new employees. Information was collected and stored to an existing database.</li>
					<li>Used Bootstrap to provide a dynamic and responsive user experience.</li>
					<li>Applied the Hibernate ORM framework for the persistence layer.</li>
				</ul>
										
			</div>
			<div class = "col-lg-3">
				<p>Gilbert AZ</p>
				<p>Jun 2013 - Present</p>								
			</div>
		</div>
		
		<div class="row">
			<div class = "col-lg-9">
				<h4>Express Scripts Inc</h4>
				<p><strong>Lead Pharmacy Technician</strong></p>						
				<ul>									
					<li>Developed Microsoft Excel and Access based tools to improve team productivity and performance.</li>
					<li>Communicated professionally with healthcare providers and patients.</li>
					<li>Trained and mentored a team of 30 data entry technicians.</li>
				</ul>					
			</div>
			
			<div class = "col-lg-3">
				<p>Tempe AZ</p>
				<p>Sep 2009 - Apr 2013</p>
			</div>
		</div>
	</div>
</div>