

#wd
{
	margin-top:-15px;
	margin-left:-5px;
	
}



.jumbotron 
{
    background: url("../img/jumbo.jpg");
    color: #FFFFFF;
    font-family:Verdana, Geneva, sans-serif;
    
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.push-spaces
{
    height: 500px;
}



.buffer
{
	height:275px;
}