.navbar
{
	background-color:  gray;
	border: 1px solid gray;
}

.white
{
  	background-color: white !important;
  	color:black !important;
}

#br
{
	padding-left:15px;
}

li 
{
	border-radius:40%;
	margin-right:10px;
	
}

.navbar-nav li
{
	background-color:black;
}

