<link href="css/contact.css" rel="stylesheet" type="text/css" />

<div class = "row">
	<div class = "col-lg-2">
		<img src = "img/saguaro.jpg">
	</div>
	
	<div class = "col-lg-10">
		
		<div class = "row">
			<div class = "col-lg-6 col-centered">
				<h1 id = "contactHead"> Contact Matt </h1>
				
				<ul>					
					<li><i class="glyphicon glyphicon-phone-alt"></i> 646-717-4887</li>
					<li><i class="glyphicon glyphicon-envelope"> </i> <a href="mailto:mj.jolly7@gmail.com" > mj.jolly7@gmail.com</a></li>	
				</ul>
				
			</div>
		</div>
		
		
		<div class = "row">
			<div class = "bufferRow"></div>
		</div>
		<div class = "row">
			<div class = "col-lg-6">
				<send-msg></send-msg>
			</div>
			
			<div class = "col-lg-6">			
				<wall></wall>
			</div>
		</div>
	</div>
	
	<div class = "col-lg-6"></div>
</div>