<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Education</h3>
	</div>
	<div class="panel-body">
		<div class = "row">
			<div class="col-lg-9">
				<h4>Syracuse University</h4>
				<p>Master of Science - Computer Science</p>
				<p>Expected graduation:  Spring 2018</p>								
			</div>
			<div class="col-lg-3">
				<p>Syracuse, NY</p>
				<p>Jan 2016 - Present</p>
			</div>
		</div>
		
		<div class = "row">
			<div class="col-lg-9">
				<h4>Boston University</h4>
				<p>Bachelor of Arts - Linguistics</p>							
			</div>
			<div class="col-lg-3">
				<p>Boston, MA</p>
				<p>Sep 2003 - Jan 2007</p>
			</div>
		</div>
	</div>
</div>