<div class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title">Send Message</h3>
  	</div>
  	<div class="panel-body">
    
	    <!-- Input form for new messages -->
	    <form class="form-horizontal" role="form" ng-submit="msgCtrl.sendMsg()" novalidate>
			<div style="margin-bottom: 25px" class="input-group">
	          	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	          	<input id="msgOut" type="textArea" class="form-control" name="msgOut" value="" placeholder="Your message" 
	           		ng-model="msgCtrl.msgOut.message" required>
	           	<input id="username" type="textArea" class="form-control" name="username" value="" placeholder="Your name" 
	               		ng-model="msgCtrl.msgOut.username" required>  
			</div>
	        
	        <p>{{140 - msgCtrl.msgOut.message.length}} characters remain</p>
	        
	        <div class="checkbox">
				<label>
			    	<input type="checkbox" ng-model = msgCtrl.msgOut.private_> Send private message
			    </label>
			</div>
	             
			<input type="submit" id="btn-send" class="btn btn-info center-block unhovered" 
				data-toggle="modal" data-target="#myModal" value="Send!"
				ng-class="{hovered: hov}" ng-mouseenter="hov = true" ng-mouseleave="hov = false" />
	              	
	        <!-- Modal for message status update-->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog" style = "color:black;">		
				    <div class="modal-content">
				    	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal">&times;</button>
				        	<h4 class="modal-title">Success!</h4>
				      	</div>
				      	<div class="modal-body">
				        	<p>Your message has been sent.</p>
				      	</div>
				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      	</div>
				    </div>
				</div>
			</div>	
		</form>
	 </div>
</div>