<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Technologies</h3>
	</div>
	<div class="panel-body">
	
		<ul>
			<li>
				<h4>Programming</h4>
				<ul class= "list-inline">
					<li>&bull; Java/J2EE</li>							
					<li>&bull; Spring MVC/IOC</li>
					<li>&bull; AOP</li>
					<li>&bull; jQuery</li>
					<li>&bull; JSP</li>
					<li>&bull; AJAX</li>
					<li>&bull; HTML</li>
					<li>&bull; JavaScript</li>
					<li>&bull; CSS</li>
					<li>&bull; JSF</li>
					<li>&bull; HTML</li>
					<li>&bull; REST</li>
					<li>&bull; XML</li>
					<li>&bull; JMS</li>
					<li>&bull; Visual Basic</li>
					<li>&bull; C/C++ </li>
				</ul>
			</li>
				
			<li>
				<h4>Software</h4>
				<ul class = "list-inline">
					<li>&bull; Eclipse</li>
					<li>&bull; ANT/Maven</li>
				</ul>
			</li>
			<li>
				<h4>RDBMS</h4>
				<ul class = "list-inline">
					<li>&bull; MySQL</li>
					<li>&bull; Hibernate</li>
				</ul>
			</li>
			<li>
				<h4>Operating Systems</h4>
				<ul class = "list-inline">
					<li>&bull; Windows</li>
					<li>&bull; Linux</li>
				</ul>
			</li>
			<li>
				<h4>Version Control</h4>
				<ul class = "list-inline">
					<li>&bull; Git</li>
					<li>&bull; Subversion</li>
				</ul>
			</li>
			
		</ul>
							
	</div>
</div>